* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}


.logo-mario {
    height: 200px; /*altura*/
}

.mario-luide {
    height: 500px;
}

button {
    background-color: #c51111; /*cor do botão*/
    color: white; /*cor da fonte*/
    border-radius: 3px;  /*arredondar borda*/
    border: none; /*retirar borda*/
    width: 200px; /*largura*/
    height: 50px; /*altura*/
    cursor: pointer; /*seta no mouse*/
    text-transform: uppercase; /*deixa as letras em maiusculo*/
    font-weight: bold;
    margin-top: 25px; 
}

button:hover {
    background-color: #970d0d;
    transition: 0.4s ease-in-out;
}

body {
    height: 100vh;
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}

.titulo {
    font-weight: bold;
}

.caixa-principal {
    width: 50%;
    color: white;
}

.caixa-video {
    position: fixed;
    z-index: -1;
    top: 0;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}
.mascara {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.whatsapp {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 125px;
    padding: 30px;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.header img {
    height: 60px;
}

.header a {
    color: white;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
}

.header a:hover {
    color: #c51111;
    transition: 0.6s ease-in-out;
}
.fale-conosco {
    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -300px;
    padding: 20px;
    border-radius: 5px;
    transition: left 0.5s ease-in-out;
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #c51111;
}
textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #c51111;
}

.mascara-form {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0,0,0,0.7035189075630253) 0%, rgba(0,0,0,0.7) 100%);
    transition: visibility 0.5s ease-in-out;
}

@media(max-width: 1100px){ /*responsividade*/
    p{
        display: none;
    }
    .titulo{
        display: none;
    }
    .caixa-mae{
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }
    .caixa-principal{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .mario-luide{
        width: 80vw;
        height: auto;
    }
    .header{
        margin: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header img{
        display: none;
    }
    .header a{
        font-size: 18px;
    }
}
/*
inicio
    top: 30%;
    left: -300px;

fim
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
*/